<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>

<body>
    <p>all consultants</p>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Consultant Name</th>
            <th>Phone Number</th>
            <th>Salon or Home</th>
        </tr>
        </thead>
<!--        <tr th:each="event : ${events}">-->
<!--            <td th:text="${event.id}"></td>-->
<!--            <td><a th:href="'/events/detail?eventId=' + ${event.id}" th:text="${event.name}"></a></td>-->
<!--        </tr>-->
    </table>
</body>
</html>