<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
<h1>Add Loctitian</h1>

<!--<nav th:replace="fragments :: page-header"></nav>-->

<form method="post" style="max-width:600px;">
    <div class="form-group">
        <label th:for="name">Loctitian Name</label>
        <input class="form-control" th:field="${loctitian.name}" />
        <span th:errors="${loctitian.name}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="streetAddress">Loctitian Address</label>
        <input class="form-control" th:field="${loctitian.streetAddress}" />
        <span th:errors="${loctitian.streetAddress}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="city">City</label>
        <input class="form-control" th:field="${loctitian.city}" />
        <span th:errors="${loctitian.city}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="state">State</label>
        <input class="form-control" th:field="${loctitian.state}" />
        <span th:errors="${loctitian.state}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="zip">Zip</label>
        <input class="form-control" th:field="${loctitian.zip}" />
        <span th:errors="${loctitian.zip}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="salonOrHouse">Salon or House</label>
        <input class="form-control" th:field="${loctitian.salonOrHouse}" />
        <span th:errors="${loctitian.salonOrHouse}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="phoneNumber">Phone Number</label>
        <input class="form-control" th:field="${loctitian.phoneNumber}" />
        <span th:errors="${loctitian.phoneNumber}" class="error"></span>
    </div>

    <input type="submit" value="Add Loctitian" />
</form>

</body>
</html>