<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:fragment="head">

    <!-- Bootstrap stylesheets and script -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<!--    <title th:text="'TechJobs' + ${title == null ? '' : ' :: ' + title}">TechJobs</title>-->
</head>
<body th:fragment="body">

<header th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <ul class="navbar-nav mr-auto">
               <li><a th:href="@{index}">Home</a></li>
                <li><a th:href="@{/search}">Find Loctitian</a></li>
            </ul>
        </div>
    </div>
</header>

</body>
</html>